-- Active: 1702144875279@@localhost@3306@marketplaceapp
{% extends 'base.html.twig' %}
{% set sortedArray = app.user.getAds()|sort((a, b) => a.getCreatedAt() <=> b.getCreatedAt()) %}
{% set pendingAds = ads|filter(ad => ad.status == 'Pending Approval') %}
{% set activeAds = ads|filter(ad => ad.status == 'Approved') %}
{% set soldAds = ads|filter(ad => ad.status == 'Sold') %}
{% set rejectedAds = ads|filter(ad => ad.status == 'Rejected') %}

{% block title %}Hello!!
	{% if app.user %}
		{{app.user.username }}
	{% else %}
		UserController!
	{% endif %}
	| SimpleMarketPlaceApp
{% endblock %}
{# {% if app.user %} #}
{% block body %}
	<!-- Start Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="breadcrumbs-content">
						<h1 class="page-title">Welcome,
							{{app.user.fullname }}</h1>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<ul class="breadcrumb-nav">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>Dashboard</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	{{ include('components/alerts.html.twig') }}
	<!-- Start Dashboard Section -->
	<section class="dashboard section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-12">
					{{ include('profile/partials/sidebar.html.twig') }}
				</div>
				<div class="col-lg-9 col-md-8 col-12">
					<div
						class="main-content">
						<!-- Start Details Lists -->
						<div class="details-lists">
							<div class="row">
								<div
									class="col-lg-3 col-md-4 col-12">
									<!-- Start Single List -->
									<div class="single-list">
										<div class="list-icon">
											<i class="lni lni-checkmark-circle"></i>
										</div>
										<h3>
											{{ads|length}}
											<span>Total Ads</span>
										</h3>
									</div>
									<!-- End Single List -->
								</div>
								<div
									class="col-lg-3 col-md-4 col-12">
									<!-- Start Single List -->
									<div class="single-list three">
										<div class="list-icon">
											<i class="lni lni-emoji-speechless"></i>
										</div>
										<h3>
											{{pendingAds|length}}
											<span>Pending Ads
											</span>
										</h3>
									</div>
									<!-- End Single List -->
								</div>
								<div
									class="col-lg-3 col-md-4 col-12">
									<!-- Start Single List -->
									<div class="single-list two">
										<div class="list-icon">
											<i class="lni lni-bolt"></i>
										</div>
										<h3>
											{{activeAds|length}}
											<span>Active Ads
											</span>
										</h3>
									</div>
									<!-- End Single List -->
								</div>
								<div
									class="col-lg-3 col-md-4 col-12">
									<!-- Start Single List -->
									<div class="single-list three">
										<div class="list-icon">
											<i class="lni lni-emoji-sad"></i>
										</div>
										<h3>
											{{soldAds|length}}
											<span>Expired Ads
											</span>
											{# <p class="small-text">Coming Soon</p> #}
										</h3>
									</div>
									<!-- End Single List -->
								</div>
							</div>
						</div>
						<!-- End Details Lists -->
						<div class="row">
							<div
								class="col-lg-6 col-md-12 col-12">
								<!-- Start Activity Log -->
								<div class="activity-log dashboard-block">
									<h3 class="block-title">My Activity Log</h3>
									<ul>
										{% if activities is empty %}
											<li>
												<a class="title text-center">You have not done anything on this account</a>
											</li>
										{% else %}
											{% for activity in activities|slice(-4)|sort((a, b) => b.getCreatedAt() <=> a.getCreatedAt()) %}
												<li>
													<div class="log-icon">
														<i class="lni lni-alarm"></i>
													</div>
													<a href="javascript:void(0)" class="title">{{activity.activity}}</a>
													<span class="time">{{activity.getCreatedAt().format('l dS F Y') }}</span>
													<span class="remove">
														<a href="javascript:void(0)">
															<i class="lni lni-close"></i>
														</a>
													</span>
												</li>
											{% endfor %}
										{% endif %}
									</li>
								</ul>
							</div>
							<!-- End Activity Log -->
						</div>
						<div
							class="col-lg-6 col-md-12 col-12">
							<!-- Start Recent Items -->
							<div class="recent-items dashboard-block">
								<h3 class="block-title">Recent Ads</h3>
								<ul>
									{% if sortedArray is empty %}
										<li>
											<a class="title text-center">You have not posted any Ad(s) yet!!!</li>
										{% else %}
											{% for ad in sortedArray|slice(-4)|sort((a, b) => b.getCreatedAt() <=> a.getCreatedAt()) %}
												<li>
													<div class="image">
														{% if ad.adImages is not empty %}
															<a href="{{path('app_ad_show', {'id': ad.id})}}"><img src="{{asset(ad.adImages[0].adImagePath)}}" alt="#"></a>
														{% endif %}
													</div>
													<a href="{{path('app_ad_show', {'id': ad.id})}}" class="title">{{ ad.title }}</a>
													<span class="time">{{ ad.getCreatedAt().format('l dS F Y')}}</span>
													<span class="remove">
														<a href="javascript:void(0)">
															<i class="lni lni-close"></i>
														</a>
													</span>
												</li>
												{# Adjust 'someProperty' to the actual property you want to display #}
											{% endfor %}
										{% endif %}
									</ul>
								</div>
								<!-- End Recent Items -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Dashboard Section -->

	<!-- Start Newsletter Area -->
	<div class="newsletter section">
		<div class="container">
			<div class="inner-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 col-12">
						<div class="title">
							<i class="lni lni-alarm"></i>
							<h2>Newsletter</h2>
							<p>We don't send spam so don't worry.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="form">
							<form action="#" method="get" target="_blank" class="newsletter-form">
								<input name="EMAIL" placeholder="Your email address" type="email">
								<div class="button">
									<button class="btn">Subscribe<span class="dir-part"></span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Newsletter Area -->
{% endblock %}

