{% extends 'base.html.twig' %}

{% block title %}
	{{app.user.fullname }}
	| My Ads
{% endblock %}
{% block body %}
	<!-- Start Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="breadcrumbs-content">
						<h1 class="page-title">My Ads</h1>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<ul class="breadcrumb-nav">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>My Ads</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">
			{{ flashMessage }}
		</div>
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="alert alert-danger">
			{{ flashMessage }}
		</div>
	{% endfor %}
	<!-- Start Dashboard Section -->
	<section class="dashboard section">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-3 col-md-12 col-12">
					<!-- Start Dashboard Sidebar -->
					{% include 'profile/partials/sidebar.html.twig' %}
					<!-- Start Dashboard Sidebar -->
				</div>
				<div class="col-lg-9 col-md-12 col-12">
					<div class="main-content">
						<div class="dashboard-block mt-0">
							<h3 class="block-title">My Ads</h3>
							<nav class="list-nav">
								<ul>
									<li class="active">
										<a href="javascript:void(0)">All Ads
											<span>{{ads|length}}</span>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">Published
											<span>88</span>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">Sold
											<span>02</span>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">Active
											<span>45</span>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">Expired
											<span>55</span>
										</a>
									</li>
								</ul>
							</nav>
							<!-- Start Items Area -->
							<div
								class="my-items">
								<!-- Start Item List Title -->
								<div class="item-list-title">
									<div class="row align-items-center">
										<div class="col-lg-4 col-md-4 col-12">
											<p>Ad Title</p>
										</div>
										<div class="col-lg-2 col-md-2 col-12">
											<p>Category</p>
										</div>
										<div class="col-lg-2 col-md-2 col-12">
											<p>Condition</p>
										</div>
										<div class="col-lg-2 col-md-2 col-12">
											<p>Status</p>
										</div>
										<div class="col-lg-2 col-md-2 col-12 align-right">
											<p>Action</p>
										</div>
									</div>
								</div>
								<!-- End List Title -->
								{% for ad in ads %}
									<!-- Start Single List -->
									<div class="single-item-list">
										<div class="row align-items-center">
											<div class="col-lg-4 col-md-4 col-12">
												<div class="item-image">
													<img src="{{asset('assets/images/my-items/my-item1.png')}}" alt="{{ad.id}}">
													<div class="content">
														<h3 class="title">
															<a href="javascript:void(0)">{{ad.title}}</a>
														</h3>
														<span class="price">{{ad.price}}</span>
													</div>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-12">
												<p>
													<a href="javascript:void(0)">{{ad.category.parentCategory.name}}</a>
													>
													<a href="javascript:void(0)">{{ad.category.name}}</a>
												</p>
											</div>
											<div class="col-lg-2 col-md-2 col-12">
												<p>New</p>
											</div>
											<div class="col-lg-2 col-md-2 col-12 {% if ad.status != 'Active' %}bg-warning{% endif %}">
												<p class="text-black">{{ad.status}}</p>
											</div>
											<div class="col-lg-2 col-md-3 col-12 align-right">
												<ul class="action-btn">
													<li>
														<a href="{{path('app_ad_edit', {'id': ad.id})}}">
															<i class="lni lni-pencil"></i>
														</a>
													</li>
													<li>
														<a href="{{path('app_ad_show', {'id': ad.id})}}">
															<i class="lni lni-eye"></i>
														</a>
													</li>
													<li>
														<a href="{{path('app_ad_delete', {'id': ad.id})}}">
															<i class="lni lni-trash"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single List -->
								{% endfor %}
								<!-- Pagination -->
								<div class="pagination left">
									{{ knp_pagination_render(ads) }}
								</div>
								<!--/ End Pagination -->
							</div>
							<!-- End Items Area -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Dashboard Section -->

	<!-- Start Newsletter Area -->
	<div class="newsletter section">
		<div class="container">
			<div class="inner-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 col-12">
						<div class="title">
							<i class="lni lni-alarm"></i>
							<h2>Newsletter</h2>
							<p>We don't send spam so don't worry.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="form">
							<form action="#" method="get" target="_blank" class="newsletter-form">
								<input name="EMAIL" placeholder="Your email address" type="email">
								<div class="button">
									<button class="btn">Subscribe<span class="dir-part"></span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Newsletter Area -->
{% endblock %}
