{% extends "base.html.twig" %}
{% set _template = _self %}
{% block title %}
	Welcome to
	{{ name }}
	| United Kingdom
{% endblock %}
{% block body %}
	<!-- Start Hero Area -->
	<section class="hero-area overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
					<div
						class="hero-text text-center">
						<!-- Start Hero Text -->
						<div class="section-heading">
							<h2 class="wow fadeInUp" data-wow-delay=".3s">Welcome to Swanzy's Marketplace</h2>
							<p class="wow fadeInUp" data-wow-delay=".5s">Buy And Sell Everything From Used Cars To Mobile Phones And
								<br>Computers, Household Items Or Search For Property, Jobs And More.</p>
						</div>
						<!-- End Search Form -->
						<form
							action="{{path('app_search') }}" method="POST">
							<!-- Start Search Form -->
							<div class="search-form wow fadeInUp" data-wow-delay=".7s">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-12 p-0">
										<div class="search-input">
											<label for="keyword">
												<i class="lni lni-search-alt theme-color"></i>
											</label>
											<input type="text" name="keyword" id="keyword" placeholder="Product keyword">
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-12 p-0">
										<div class="search-input">
											<label for="category">
												<i class="lni lni-grid-alt theme-color"></i>
											</label>
											<select name="category" id="category">
												{% for category in categories %}
													<option value="{{ category.id }}">{{ category.name }}</option>
												{% endfor %}
											</select>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-12 p-0">
										<div class="search-input">
											<label for="city">
												<i class="lni lni-map-marker theme-color"></i>
											</label>
											<select name="city" id="location">
												{% set cities = [] %}
												{% for ad in ads %}
													{% if ad.adCity not in cities %}
														{% set cities = cities|merge([ad.adCity]) %}
														<option value="{{ ad.adCity }}">{{ ad.adCity }}</option>
													{% endif %}
												{% endfor %}
											</select>


										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-12 p-0">
										<div class="search-btn button">
											<button class="btn">
												<i class="lni lni-search-alt"></i>
												Search</button>
										</div>
									</div>
								</div>
							</div>
							<!-- End Search Form -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero Area -->

	<!-- Start Categories Area -->
	<section class="categories">
		<div class="container">
			<div class="cat-inner">
				<div class="row">
					<div class="col-12 p-0">
						<div class="category-slider">
							{% for category in categories %}
								<!-- Start Single Category -->
								<a href="#" class="single-cat">
									<div class="icon">
										<img src={{asset('assets/images/categories/car.svg')}} alt="#">
									</div>
									<h3>{{category.name}}</h3>
									{% set subCategories = category.subCategories %}
									{% set subCategoriesAdsCount = 0 %}
									{% for subCategory in subCategories %}
										{% set subCategoriesAdsCount = subCategoriesAdsCount + subCategory.ads|length %}
									{% endfor %}
									<h5 class="total">{{ subCategoriesAdsCount }}</h5>

								</a>
								<!-- End Single Category -->
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /End Categories Area -->

	<!-- Start Items Grid Area -->
	<section class="items-grid section custom-padding">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2 class="wow fadeInUp" data-wow-delay=".4s">Recently viewed</h2>
						<p class="wow fadeInUp" data-wow-delay=".6s">Some of our recently viewed ads</p>

					</div>
				</div>
			</div>
			<div class="single-head">
				<div class="row">
					{% for ad in ads %}
						<div
							class="col-lg-4 col-md-6 col-12">
							<!-- Start Single Grid -->
							<div class="single-grid wow fadeInUp" data-wow-delay=".2s">
								<div class="image">
									<a href="{{path('app_ad_show', {'id': ad.id})}}" class="thumbnail">
										{% if ad.adImages|length > 0 %}
											<img src="{{asset(ad.adImages[0].adImagePath) }}" alt="#" height="310px">
										{% else %}
											<img src="https://static.vecteezy.com/system/resources/thumbnails/001/409/906/small_2x/man-shopping-in-e-commerce-marketplace-vector.jpg" alt="{{ad.id}}">
										{% endif %}
										<div class="author">
											<div class="author-image">
												<a href="javascript:void(0)"><img src="{{ad.user.profileImage }}" alt="#">
													<span>{{ad.user.fullname}}</span>
												</a>
											</div>
											<p class="sale">For Sale</p>
										</div>
									</div>
									<div class="content">
										<div class="top-content">
											<a href="javascript:void(0)" class="tag">{{ad.category.name}}</a>
											<h3 class="title">
												<a href="item-details.html">{{ad.title}}</a>
											</h3>
											<ul class="info-list">
												<li>
													<a href="javascript:void(0)">
														<i class="lni lni-timer"></i>
														Feb 18,
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	2023</a>
												</li>
											</ul>
										</div>
										<div class="bottom-content">
											<p class="price">Start From:
												<span>{{ad.price}}</span>
											</p>
											<a href="javascript:void(0)" class="like">
												<i class="lni lni-heart"></i>
											</a>
										</div>
									</div>
								</div>
								<!-- End Single Grid -->
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
		<!-- /End Items Grid Area -->

		<!-- Start Pricing Table Area -->
		<section class="pricing-table section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">Pricing Plan</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
																																																																																																																																																																																																																																																																								Ipsum available, but the majority have suffered alteration in some form.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div
						class="col-lg-4 col-md-6 col-12">
						<!-- Single Table -->
						<div
							class="single-table wow fadeInUp" data-wow-delay=".2s">
							<!-- Table Head -->
							<div class="table-head">
								<div class="price">
									<h2 class="amount">$00<span class="duration">/ Month</span>
									</h2>
								</div>
								<h4 class="title">Free</h4>
							</div>
							<!-- End Table Head -->
							<!-- Table List -->
							<ul class="table-list">
								<li>One Listing</li>
								<li>Contact Display</li>
								<li>Image Gallery</li>
								<li>30 Days Availablity</li>
								<li>Non-Featured</li>
								<li>Business Tagline</li>
							</ul>
							<!-- End Table List -->
							<!-- Table Bottom -->
							<div class="button">
								<a class="btn" href="javascript:void(0)">Select Plan</a>
							</div>
							<!-- End Table Bottom -->
						</div>
						<!-- End Single Table-->
					</div>
					<div
						class="col-lg-4 col-md-6 col-12">
						<!-- Single Table -->
						<div
							class="single-table wow fadeInUp" data-wow-delay=".4s">
							<!-- Table Head -->
							<div class="table-head">
								<div class="price">
									<h2 class="amount">$59<span class="duration">/ Month</span>
									</h2>
								</div>
								<h4 class="title">Standard</h4>
							</div>
							<!-- End Table Head -->
							<!-- Table List -->
							<ul class="table-list">
								<li>One Listing</li>
								<li>Contact Display</li>
								<li>Image Gallery</li>
								<li>60 Days Availablity</li>
								<li>Non-Featured</li>
								<li>Business Tagline</li>
							</ul>
							<!-- End Table List -->
							<!-- Table Bottom -->
							<div class="button">
								<a class="btn" href="javascript:void(0)">Select Plan</a>
							</div>
							<!-- End Table Bottom -->
						</div>
						<!-- End Single Table-->
					</div>
					<div
						class="col-lg-4 col-md-6 col-12">
						<!-- Single Table -->
						<div
							class="single-table wow fadeInUp" data-wow-delay=".6s">
							<!-- Table Head -->
							<div class="table-head">
								<div class="price">
									<h2 class="amount">$99<span class="duration">/ Month</span>
									</h2>
								</div>
								<h4 class="title">Premium</h4>
							</div>
							<!-- End Table Head -->
							<!-- Table List -->
							<ul class="table-list">
								<li>One Listing</li>
								<li>Contact Display</li>
								<li>Image Gallery</li>
								<li>90 Days Availablity</li>
								<li>Non-Featured</li>
								<li>Business Tagline</li>
							</ul>
							<!-- End Table List -->
							<!-- Table Bottom -->
							<div class="button">
								<a class="btn" href="javascript:void(0)">Select Plan</a>
							</div>
							<!-- End Table Bottom -->
						</div>
						<!-- End Single Table-->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Pricing Table Area -->

		<!-- Start How Works Area -->
		<section class="how-works section" style="background-color: #fff;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">How it Works</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">A marketplace app connects buyers and sellers, enabling easy listing, browsing, and secure transactions. Sellers upload products, set prices, and manage inventory, while buyers search, view, and purchase with secure payments.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div
						class="col-lg-4 col-md-4 col-12">
						<!-- Start Single Work -->
						<div class="single-work wow fadeInUp" data-wow-delay=".2s">
							<span class="serial">01</span>
							<h3>Create Account</h3>
							<p>
								To create an account on SimpleMarketplace app, users input basic details, such as email and password. After verification, they gain access to personalized profiles, enabling seamless buying and selling experiences.</p>
						</div>
						<!-- End Single Work -->
					</div>
					<div
						class="col-lg-4 col-md-4 col-12">
						<!-- Start Single Work -->
						<div class="single-work wow fadeInUp" data-wow-delay=".4s">
							<span class="serial">02</span>
							<h3>Post Your Ads</h3>
							<p>To post ads on SimpleMarketplace app, sellers upload product/service details, including images and prices. They can set preferences, manage inventory, and publish listings. Buyers then browse, search, and engage in transactions for a user-friendly marketplace experience.</p>
						</div>
						<!-- End Single Work -->
					</div>
					<div
						class="col-lg-4 col-md-4 col-12">
						<!-- Start Single Work -->
						<div class="single-work wow fadeInUp" data-wow-delay=".6s">
							<span class="serial">03</span>
							<h3>Sell Your Item</h3>
							<p>To sell your item on SimpleMarketplace app, users create a listing by uploading item details, images, and setting prices. Facilitates easy selling and connects sellers with potential buyers seamlessly.</p>
						</div>
						<!-- End Single Work -->
					</div>
				</div>
			</div>
		</section>
		<!-- End How Works Area -->

		<!-- Start Newsletter Area -->
		<div class="newsletter section">
			<div class="container">
				<div class="inner-content">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="title">
								<i class="lni lni-alarm"></i>
								<h2>Newsletter</h2>
								<p>We don't send spam so don't worry.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="form">
								<form action="#" method="get" target="_blank" class="newsletter-form">
									<input name="EMAIL" placeholder="Your email address" type="email">
									<div class="button">
										<button class="btn">Subscribe<span class="dir-part"></span>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Newsletter Area -->
	{% endblock %}
